@model HomeViewModel

<partial name="_Carousel" />

<h2>Books of the Week</h2>
<h4>Weekly Selections just for You</h4>

<div class="row">

    @foreach(var book in Model.bookOfTheWeek)
    {
        <partial name="_BookCard" model="book" />
    }

</div>